body {
  background-color: #408e91;
}

h1 {
  margin: 30px;
  color: #e49393;
  font-family: Shadows Into Light;
  font-size: 50px;
  text-align: center;
}

h2 {
  margin: 30px;
  color: #e49393;
  font-family: Shadows Into Light;
  font-size: 80px;
  text-align: center;
}

p {
  color: #e49393;
  font-family: Shadows Into Light;
  font-size: 36px;
  text-align: center;
}
.top-container {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.img {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.diceimage1 {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.diceimage2 {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

.button-back {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(207, 3, 207);
  background-color: #408e91;
  display: inline-block;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: #8edad3;
}
.button-back:hover {
  color: white;
}

button {
  background-color: #e49393;
  color: #245953;
  font-family: Shadows Into Light;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 10px;
  box-shadow: 4px 4px 4px #245953;
}

button:hover {
  background-color: white;
  color: #e49393;
  box-shadow: 4px 4px 4px #e49393;
}

footer {
  text-align: center;
  color: #245953;
  font-family: Shadows Into Light;
  font-size: 20px;
  margin-top: 50px;
}
